[2014-10-25 21:44] richard-jones opened #1 "EPMC client library"
Add a basic EMPC integration library to magnificent octopus.  It will need to support the following operations:
- Resolve a metadata record from either a PMCID, a PMID or a DOI

PMCID: http://www.ebi.ac.uk/europepmc/webservices/rest/search/query=PMCID:[PMCID]
PMID: http://www.ebi.ac.uk/europepmc/webservices/rest/search/query=EXT_ID:[PMID]
DOI:http://www.ebi.ac.uk/europepmc/webservices/rest/search/

[2014-10-25 21:48] richard-jones opened #2 "DOAJ client library"
Implement a very basic DOAJ client library which uses the DOAJ unofficial search interface.  It needs to be able to do the following:
- Determine if an ISSN exists in the DOAJ's public data set

A url that can do this is of the form:

http://doaj.org/search?source={%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%222314-5862%22,%22default_operator%22:%22AND%22}},%22filter

[2014-10-25 21:54] richard-jones opened #3 "Proof of Concept testing CSV"
Create a test CSV that we can use for the proof of concept.  It should contain just a few nice easy records with the following variations:
- different combinations of identifiers: PMCID, PMID and DOI (a minimum of 6 records required)
- hybrid vs pure OA (a minimum of 2 records required)
- author manuscript and not author manuscript (a minimum of 2 records required)
- flagged as OA and not OA (a mi

[2014-10-25 22:01] richard-jones opened #4 "Parse Wellcome CSV to data model"
Create a data model to store the data coming from a single CSV.  See #3 for test data to use for this.

Proposed model structure is:
1. A record of the CSV upload
2. A list of records of the rows in the csv, referencing back to the CSV they were created from

These should each be modelled in code and also stored in the index, and be updated as the workflow progresses.  See #5 for details on what d

[2014-10-25 22:14] richard-jones opened #5 "Implement detection workflow (Proof of Concept)"
Implement a module which takes a record of a csv upload and processes each of the articles in the record through the workflow.  This probably breaks down into a function which deals with the bulk processing and another function that deals with individual records.

The workflow should progress (roughly) as follows:
1. resolve one of the identifiers to a metadata record in EPMC
   - record confidenc

[2014-10-25 22:17] richard-jones opened #6 "Create output spreadsheet from index"
Take the processed data from the workflow ( #5 ) and convert it back into a spreadsheet with all the relevant additional columns.  The original spreadsheet will have been converted into model objects as per #4 so we just need a reverse of that process, with the additional fields.

For the proof of concept this should just add the columns of the additional information detected.  See #10 for details

[2014-10-25 22:19] richard-jones opened #7 "Move octopus to bootstrap3"
Move the base templates in portentious to bootstrap 3

[2014-10-25 22:23] richard-jones opened #8 "Create user upload interface"
The user must provide us with

1. a CSV version of the Wellcome compliance spreadsheet
2. A contact email

This will upload a copy of the csv (which we should keep on disk, and offer a download link for), and either create a record in the index for the upload (see #4 ) or trigger a task which will do so shortly (see #13 ).

At this stage it will also be necessary to normalise any incoming identifi

[2014-10-25 22:28] richard-jones opened #9 "Create job progress interface"
Create a page which gives the user the following information and options regarding their current job (created in #8 ):

1. A download option for their originally uploaded spreadsheet.
2. What the status of the upload is - has it been processed into a job yet (depending on #13 )
3. What the status of the processing is - just via a status flag on the job or upload
4. A download option which will tri

[2014-10-25 22:36] richard-jones opened #10 "Full Wellcome OAC spreadsheet"
Following on from #6 we need to ensure that the spreadsheet is the same as the incoming wellcome spreadsheet and also contains the additionally calculated columns in the correct order/format.  The additional fields we need to present are:

* Is the full-text available in EuropePMC?
    * if so, is it the author manuscript or not?
* Does the EuropePMC flag the article as Open Access?
* What licence

[2014-10-25 22:37] richard-jones opened #11 "Integrate OAGR with octopus"
For the full service we need to support asynchronous querying of OAG.  There is an existing OAG client library called OAGR which can do this, but it needs to be reviewed, enhanced and pulled into the octopus base library.

It may be worthwhile developing a basic UI for OAGR at this stage, so that it can be monitored easily.

[2014-10-25 22:40] richard-jones opened #12 "Update workflow to use OAGR and to pass EPMCs"
Take the workflow developed in #5 and replace the OAG integration with a call to the OAGR library.

Additionally, when this happens, if it is because the workflow has failed to find a fulltext XML record in EPMC it should pass the PMCID to OAG so that it can be scraped from the EPMC web page.

**QUESTION: if we pass a PMCID to OAG and it comes back unable to find the licence, should we then pass t

[2014-10-25 22:43] richard-jones opened #13 "Introduce asynchronous processing environment"
Most likely celery.  We want to be able to break the following tasks out into an asynchronous processing chain:

1. convert the spreadsheet into a job
2. run each identifier through the EPMC detection process
3. trigger the OAG integration layer

After (3) the chain will end, and the OAGR client will trigger the remaining operations on completion.  That is:

1. Email the user to tell them their jo

[2014-10-25 22:55] richard-jones opened #14 "Normalise identifiers"
For the full service we will need to ensure that the identifiers that we get given in the PMCID, PMID and DOI columns of the spreadsheet are normalised for consistent reference.  We should therefore have normalisation routines for each of these which are applied whenever an identifier is recorded.

PMCID: all PMCIDs should start with the string PMC
PMID: should be a numeric string of 1 - 8 digits

[2014-10-26 12:57] richard-jones opened #15 "Add support for EPMC identifiers to OAG"
OAG currently supports PMID and DOI identifier types.  It should also be made to support EPMC identifiers, and be able to resolve them to the Europe PMC web page, which is accessible at

http://europepmc.org/articles/[PMCID]

for example, these are two valid PMC urls:

http://europepmc.org/articles/PMC4160115
http://europepmc.org/articles/PMC4132119

This should be an identifier plugin, similar to

[2014-10-26 13:00] richard-jones opened #16 "Add EPMC web page scrape plugin to OAG"
We require a detect provider plugin for OAG which can download content from an EPMC web page (not the XML) and mine for two things:

1. The licence
2. Whether the item is an author manuscript or not

Two examples of articles which are author manuscripts are:

http://europepmc.org/articles/PMC4160115
http://europepmc.org/articles/PMC4132119

They each have a logo on the page which identifies it as

[2014-10-26 13:02] richard-jones opened #17 "Extend the OAG data model to support identification of author manuscript"
Propose to put this in license.provenance.author_manuscript, so as not to be confused with the licence detection itself.  Then any plugin which happens to recognise this can populate it.

This will involve

1. updating the site documentation
2. updating the functions which write licences to the data model
3. updating any plugins which might want to use this (only the EPMC one at this stage)

[2014-10-26 13:13] richard-jones opened #18 "Obtain a definitive list of licences from EPMC"
The following licences are expected to be in EPMC fulltext metadata:

CC: "cc"
CC BY	: "cc by", "cc-by"
CC BY_SA: "cc by sa", "cc-by sa", "cc by-sa", "cc-by-sa"
CC BY-ND: "cc by nd", "cc-by nd", "cc by-nd", "cc-by-nd"
CC BY-NC: "cc by nc", "cc-by nc", "cc by-nc", "cc-by-nc"
CC BY-NC-ND: "cc by nc nd", "cc-by nc nd", "cc by-nc nd", "cc by nc-nd", "cc-by-nc nd", "cc by-nc-nd", "cc-by nc-nd", "cc-by-

[2014-10-26 13:14] richard-jones opened #19 "Test/Demo Server and Continuous Integration"
Set up a test server on which we can run all the software for the purposes of demonstration.

Additionally set up the CI environment and auto-deployment routines.

[2014-10-26 13:14] richard-jones opened #20 "Production Server"
For live deployment.  Flesh this out towards the end of the project.

[2014-10-26 13:15] richard-jones opened #21 "Assemble historic datasets that can be used for full-scale testing"
Work with Wellcome to get some data that they would have liked to run through the system in the past, and run it!

[2014-10-26 13:39] richard-jones opened #22 "Script to run for Proof of Concept"
A one-off script that can be run which takes the test csv (see #3), converts it to a job in the index (see #4) and runs through the workflow (see #5 ), before exporting the resulting csv from the index (see #6 ).

When this script can be run successfully, it will have proved the concepts of the detection process, and we will be able to go on to a full production development.

[2014-11-03 16:41] emanuil-tolev opened #23 "OAG requests timeouts"

[2014-11-03 16:42] emanuil-tolev opened #24 "OAG celery timeouts"

[2014-11-14 10:22] richard-jones opened #25 "Add ability to lookup code to do incremental re-try"
Sometimes APIs will not respond in time.  We need to consider building in incremental retrying into the request process to handle this cleanly.

[2014-11-17 12:08] emanuil-tolev opened #26 "Upgrade celery to latest 3.0.x"
Do this asap and monitor the memory afterwards.

With luck this will be the last major operations fix and afterwards it will be a question of tuning the throughput as well as defining more publishers / keeping the index clean of spam rather than OAG killing its server regularly.

[2014-11-17 12:10] #24 closed, assigned to nimphal

[2014-11-20 09:24] richard-jones opened #27 "Support for other spreadsheet formats"
We are interested in supporting the upload of other spreadsheet formats than just the Master format (see #4 ).  These are:

The University returns format: https://drive.google.com/open?id=0B8W3CmDjW93kdWFMVWNvUnZZQWNjSGdWOUxnVWFDRXd3V1Zn&authuser=0

The Wellcome Compliance Analysis format: https://docs.google.com/a/cottagelabs.com/spreadsheets/d/186m0XacZ2flmNLXTKL1n9v82DAi-talIAyaZhrBYXTI/edit (s

[2014-11-25 10:06] nimphal opened #28 "Adding additional resources to application"
I cannot seem to figure out how to add a font so that the application can use it. Usually this will happen in the head.html file. however, with the new arrangements, that file belongs to magnificent octopus. Since my addition is by no means generic, I need to somehow extend the head of the application in the service templates. Any help?

[2014-12-04 17:14] emanuil-tolev opened #31 "freeze flask dependency"
Currently it's based on the latest flask, but flask will update itself, and then new installs of the app will break. So freeze the Flask dependency to whatever it should be. (check locally by activating the virtualenv and doing pip freeze | grep Flask)

[2014-12-05 20:58] #26 closed, assigned to emanuil-tolev

[2014-12-15 16:45] emanuil-tolev opened #32 "[OAG] Use a redis singleton, don't open 1000-s of connections"
Line 161 of models.py and any similar creations of a redis client. Maybe in core.py or app.py. See cache.py for an example of this.

[2014-12-15 16:52] emanuil-tolev opened #33 "[OAG] split redis usage"
into separate DB-s

[2014-12-15 16:54] #7 closed, assigned to nimphal

[2014-12-15 17:08] #19 closed, assigned to emanuil-tolev

[2014-12-15 17:16] #28 closed, assigned to nobody

[2014-12-15 17:24] emanuil-tolev opened #34 "[OAG] upgrade redis server to latest (or at least latest 2.8.x)"
We are on 2.2 right now. The eviction policies are badly implemented in 2.2.

[2014-12-19 09:36] richard-jones opened #36 "[OAG] ensure that licences are consistently named"
In particular, CC BY-NC-ND licences can be detected as cc-nc-nd OR cc-by-nc-nd

[2014-12-19 09:50] richard-jones opened #37 "Strip punctuation before sending fuzzy title matches"
Some punctuation has meaning in the EPMC API, so we need to send pure keyword strings to the fuzzy title match endpoint.  May be worth considering seeing if we can pull out stop-words too.

[2014-12-19 12:04] #1 closed, assigned to richard-jones

[2014-12-19 12:04] #2 closed, assigned to richard-jones

[2014-12-19 12:04] #3 closed, assigned to richard-jones

[2014-12-19 12:04] #4 closed, assigned to richard-jones

[2014-12-19 12:05] #5 closed, assigned to richard-jones

[2014-12-19 12:05] #6 closed, assigned to richard-jones

[2014-12-19 12:08] richard-jones opened #38 "Tweaks to output spreadsheet"
- [x] insert placeholder "unknown" text in AAM and licence column if they are unknown

- [x] Change "Fulltext in EPMC" to "XML Fulltext"

- [x] Add "In EPMC" (= in_epmc) column

- [x] rewrite "free-to-read" as "non-standard-licence"

- [x] calculate the additional standard/deluxe compliance columns

- [x] Add ISSN and Journal Name column

[2014-12-19 12:09] richard-jones opened #39 "add identifier sent to OAG to the provenance record"
At the moment you can see multiple OAG errors that are the same, but which don't tell you to which of the identifiers they pertain

[2014-12-19 12:11] richard-jones opened #40 "Revisit EPMC licence detection"
- [x] use the url prefixes to detect the licence, so we don't need to know about all the variations on CC

- [x] if there is a licence, but it is not one we recognise, record it as "non-standard-licence" and do not send on to OAG

[2014-12-19 12:11] #22 closed, assigned to richard-jones

[2015-01-04 13:30] Nimphal commented on #8
Does the email need to say anything more specific than "Thank you for your upload. You can view the progress of your upload at" plus the url?

[2015-01-05 12:33] richard-jones commented on #8
I don't think so, at least at the moment.

I would also suggest that we snag the emailing functionality from DOAJ, and have the email text itself in a jinja template, so it will be nice and easy to modify later:

https://github.com/DOAJ/doaj/blob/develop/portality/app_email.py

[2015-01-05 15:28] emanuil-tolev commented on #20
Which size server is the question here.

We can get by quite easily on 2GB RAM as long as not many queries are issued against the index. Not sure if this app issues any big queries at all. OAGR? Its admin interface only issues them from time to time so I wouldn't be worried.

Another thing is size of the index. I expect we'll stay well below 10GB, correct me if wrong.

If these are correct I'll re

[2015-01-05 16:33] emanuil-tolev opened #43 "Implement /oagr/health & /compliance/health"
404 or 500 or so if it's down
200 and text "OK" if up

[2015-01-05 16:49] emanuil-tolev opened #44 "Style facetview buttons"
[UI] It needs rounded corners. The rest of the site does not want rounded corners.

[2015-01-05 16:56] emanuil-tolev commented on #13
Try huey or another very simple processing system since it's essentially a daemon. But if it takes longer than 30 min to do in a production-ready way, copy daemon setup from oagr.

[2015-01-05 17:07] emanuil-tolev commented on #25
We should take this from OAG as per the above for now. Leave writing an adapter for requests for later.

[2015-01-05 17:11] emanuil-tolev commented on #36
Currently cc-by-nc-nd is aliased to cc-nc-nd. It should be the other way around, or cc-nc-nd should be ideally removed entirely and replaced with cc-by-nc-nd in the whole OAG codebase / GSM configs.

[2015-01-05 17:16] emanuil-tolev commented on #16
We *must* do the web page here. If there's time we can include the code from the WOAC app that uses the API too #40

[2015-01-06 16:06] emanuil-tolev opened #45 "[OAG] Add basic newrelic application monitoring and alerting"
Duplicate https://github.com/CottageLabs/OpenArticleGauge/issues/114 . But required for this work. We gotta know when the web app is down, don't we :).

Also need to consider if we should implement a celery health check (web app is not much use without celery running). After #13 is done we could copy the approach from there (unless it's really tech specific) to OAG. I can't believe we haven't thou

[2015-01-06 16:48] emanuil-tolev commented on #15
@richard-jones wondering if you know of a way to validate these? E.g. do they have to have 7 integers?

Currently the logic I've done is:
1. if it starts with "PMC" **and** contains only digits afterwards, it's a PMCID
2. if we've been told it's a PMCID (you can specify what each ID is when you query OAG) and it satisfies 1., then it's a PMCID
3. if we've been told it's a PMCID  **and** the id con

[2015-01-06 17:05] emanuil-tolev commented on #15
I hope we do get an answer from them, otherwise it's a bit hard to validate well without at least length constrain :).

[code]

[2015-01-06 17:16] emanuil-tolev commented on #15
EPMC helpdesk response

Thank you. If it contains ‘PMC’ and between 5 and 7 digits it is a PMC ID. Please find below one of the earliest examples and the latest:

http://europepmc.org/articles/PMC61055

http://europepmc.org/articles/PMC4217746

In the Europe PMC Advanced Search you can search by License Type:

In the Basic Search box you could input a search like this:

(TITLE:"adrenal gland surge

[2015-01-08 13:31] Nimphal commented on #9
The part of the interface which triggers the creation of a spreadsheet, what would be the steps? The output_csv function returns a StringIO object. Should I create a csv from that, and if so, should I use standard python csv library code or is there something in MO that is preferred.

[2015-01-08 13:39] emanuil-tolev commented on #9
Can you confirm that the aim of this bit of the functionality is to:
1. take information from the index
2. create a result spreadsheet on-the-fly
3. serve it to the user

[2015-01-08 13:40] Nimphal commented on #9
I believe so, yes.

[2015-01-08 13:42] emanuil-tolev commented on #9
Your suggestion sounds perfectly reasonable then - I'll check now and get back to you asap if maybe we need to use a UnicodeWriter here instead to make sure we don't introduce uninteresting problems into our lives later.

[2015-01-08 18:28] Nimphal commented on #9
I think I might have found a way to calculate % completed. I see that the Record object has an upload position. So there is a record in ES about the current position of the process. I could use that to calculate % if I can get the total number of rows in the file. It seems counting rows of csv-s is not a light process. It could be done during upload, but I'm not sure what performance effect it mig

[2015-01-08 18:36] emanuil-tolev commented on #9
Probably go with that for now, otherwise we need to look at somehow fast-counting all the CSV rows in the file. If we know no newlines are present (except to delineate rows) this could be sped up significantly by conventional file processing methods - Linux has plenty of highly performant commands to do this sort of thing, and the algorithms are surely available in Python libraries.

There is also

[2015-01-08 19:08] emanuil-tolev commented on #9
Sorry, I had misunderstood the problem here. @richard-jones wrote the output_csv function which outputs a CSV as a string (a StringIO in fact). You simply need to give this to the Flask send_file function, set the as_attachment=True and attachment_filename=lalala.csv parameters.

[2015-01-08 19:20] Nimphal commented on #9
I've made pull request, the interface should be completed.

[2015-01-08 19:31] emanuil-tolev commented on #9
So to test this fully we'll need the processing bit in as well, otherwise we won't necessarily know the "download sheet in progress" bit works.

[2015-01-08 20:19] emanuil-tolev commented on #13
@richard-jones Could you point me at the daemonisation code in OAGR? https://github.com/CottageLabs/oagr/tree/master/portality doesn't seem to contain a while True or any terminal detachment code, but maybe I just can't find it :).

Basically I'm a bit hesitant to introduce a new dependency (Redis) for such a small project, where we could let it run forever and then it eventually blows up.. on the

[2015-01-08 20:19] emanuil-tolev commented on #13
To clarify: Huey is much, much simpler than celery, but does need somewhere to store the queue info.

See example at http://huey.readthedocs.org/en/latest/getting-started.html

[2015-01-08 20:22] emanuil-tolev commented on #13
It's in octopus - no need to look into this. I'll continue with the work on this issue.

https://github.com/richard-jones/magnificent-octopus/blob/da8520172b07af8604897e470e21900408f87722/octopus/modules/oag/oagr.py#L74

[2015-01-09 10:50] richard-jones commented on #13
Actual initialisation of the daemon is done from this script:

https://github.com/richard-jones/magnificent-octopus/blob/da8520172b07af8604897e470e21900408f87722/octopus/modules/oag/runner.py

On 8 January 2015 at 20:22, Emanuil Tolev <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: http://cottagelabs.com

[2015-01-09 13:15] Nimphal commented on #44
This has been addressed with a facetview-specific selector in the app stylesheet.

[2015-01-09 13:15] Nimphal commented on #8
Emailing functionality snagged, app updated and email template created.

[2015-01-09 13:55] richard-jones commented on #9
Coming into this conversation a bit late, sorry.

Yes, the output_csv function will give you back as a string the raw
contents of the csv, so you can serve it to the user.  Just looked at what
you've already done, and yes that should be it.

On 8 January 2015 at 19:31, Emanuil Tolev <notifications@github.com> wrote:

--

Richard Jones,

Founder, Cottage Labs
t: @richard_d_jones, @cottagelabs
w: ht

[2015-01-10 12:43] richard-jones commented on #40
We also should probably look at normalising the text when we compare licence type strings, so that CC BY matches "cc-by".

[2015-01-10 16:50] richard-jones commented on #9
I've now added a property to the SpreadsheetJob object which will give you the % completeness of the job

    job.pc_complete

This will return a floating point between 0 and 100, which you can customise for display in the UI (probably to an int, but depends on what looks best).

[2015-01-10 16:51] richard-jones commented on #11
This is now basically done, but assigning to @emanuil-tolev who is working on the health-check endpoint, which is the last bit to do.

[2015-01-10 16:53] richard-jones commented on #12
This has now been integrated, and most of it is tested.  We can close it when:

* the final few bits are added to the unit tests
* we have run some realistic data through the system, using a functional test which will monitor the progress of the processor until it is complete.

[2015-01-10 16:54] richard-jones commented on #13
Ok, so the only thing to decide is whether at this stage we want to introduce a new, less-well-understood bit of infrastructure, or whether we just daemonise the whole thing, and have it pull tasks off the ES instance.

[2015-01-10 16:55] richard-jones commented on #16
Yes, but the call to the XML api should be done outside the scope of this project.  Web page is the only thing that matters to deliver this project.

[2015-01-10 16:58] richard-jones commented on #31
done

[2015-01-10 16:58] #31 closed

[2015-01-12 10:59] emanuil-tolev commented on #13
I am gunning for this option. Sorry if I didn't make it clear above.

[2015-01-12 11:14] richard-jones commented on #38
Comments from email:

[2014-12-17T21:05:19Z oag] identifier has permanent errors - please contact us and let us know: Record has no provider, so unable to look for licence

What does this mean?

In addition, if the aim is for these notes to mean something to the user I can tell you that “
[2014-12-17T21:05:18Z oag] no plugin for canonicalising pmcid” doesn’t mean anything to me.

I also looked aga

[2015-01-12 13:29] emanuil-tolev opened #50 "Tell users we'll pick up the job shortly"
Just add "Your spreadsheet has been uploaded. Processing will start shortly" to the progress tab.

[2015-01-12 16:39] richard-jones commented on #8
Decided that this page should actually be the root page on the site - no need for a home page at this stage.

[2015-01-12 16:42] richard-jones commented on #8
Also, notes for things to fix:

1. Disable the submit button until a file has been specified and an email address has been entered
2. Validate the email address, and ensure that it's a real address - if validation fails, return the user to the page with a suitable error

[2015-01-12 16:45] richard-jones commented on #13
Also, worth putting a facetview somewhere so that we can see jobs in the system

[2015-01-12 16:45] emanuil-tolev commented on #13
Put up a facetview for admin view of all processing spreadsheets as part of this.

[2015-01-12 16:47] richard-jones commented on #9
Target: by Wednesday (for the meeting) we should be able to upload a file, and have the asynchronous back-end process the job and give us a progress update.

[2015-01-12 16:55] richard-jones commented on #21
All the testing files are now in service/tests/resources

[2015-01-12 16:55] #21 closed

[2015-01-12 16:57] richard-jones commented on #37
Also, am sometimes getting 404 responses from the fuzzy title match, so may be creating the URL malformed.  Check into this.

[2015-01-12 17:03] emanuil-tolev commented on #50
edit: the time can't be predicted accurately so just add a sentence saying what will happen

[2015-01-12 18:12] emanuil-tolev commented on #16
Was going to ask Robert and Cecy for an example, but decided to actually just ask the EPMC help desk. Then while writing to them I realised I might well look to see if their OAI service can't give me an example open article, so I can see the license statement.

Turns out one of the examples on their OAI service page is an open article:

http://europepmc.org/articles/PMC2654146

It does have the li

[2015-01-12 19:47] Nimphal commented on #8
Is it necessary to disable the submit button provided validation is there? Just asking because it would involve some JS and so far the interface has not included any JS, so it might be overcomplicating.

[2015-01-13 15:03] emanuil-tolev commented on #17
Nope, is fine. Though I would have recorded it under licence directly, as that's where decisions go. Provenance is more about the source, not a decision based on something in the source (that's what all the siblings of provenance are). But I'll leave it there right now.

[2015-01-13 15:27] emanuil-tolev commented on #16
This doesn't work anymore. I think "Author Manuscript; Accepted for publication in peer reviewed journal" is sufficient (that's what forms part of that picture you're referring to, 'cept they've changed the picture file names so it's wiser to go by the alt text I feel).

Can't find that either. We could go with just the picture, though to be honest we should just use the file name in that case, no

[2015-01-13 17:27] emanuil-tolev commented on #17
Done.

[2015-01-13 17:27] emanuil-tolev commented on #17
http://howopenisit.org/lookup/PMC2654146.json

[2015-01-13 17:30] emanuil-tolev commented on #16
This is done.

But .. I can't find any articles which are both OA and are an author's manuscript. Even with using the uber advanced EPMC search abilities. Magically all "cc" or "cc-by" articles are normal publications.

Which means that right now OAG records the license as ```failed-to-obtain-license```, which is a generic thing added by OAG itself, not the plugins. So on the articles that are aut

[2015-01-13 17:44] emanuil-tolev commented on #16
Well, the reason OAG can't find a license is because the articles which are author manuscripts are under default copyright. So .. there is no license, legally, so there's no text.

Which means the license is Other (Not open). Which is what I specified in the EPMC config: http://howopenisit.org/publisher/83692980e8104ee8864941ff186c96cc .

Now it works - we can identify somewhat reliably which arti

[2015-01-13 17:44] emanuil-tolev commented on #16
Closing this, since it's all tested and so forth (the tests took me a few hours in fact..). Feel free to reopen if you encounter problems.

[2015-01-13 17:46] emanuil-tolev commented on #15
Yah, it works now. http://howopenisit.org/lookup/PMC2654146 , the PMCID goes in the identifier column, everything works without a hitch. Nice job @richard-jones who originally decoupled which identifier is being used from the provider URL and scraping in OpenArticleGauge.

[2015-01-13 17:46] #15 closed

[2015-01-13 17:46] emanuil-tolev commented on #50
Hmm, @Nimphal has done this.

[2015-01-13 17:46] #50 closed

[2015-01-13 17:46] emanuil-tolev commented on #44
So why is it open :)?

[2015-01-13 17:46] #44 closed

[2015-01-13 17:48] emanuil-tolev commented on #40
Er, ok, but if we do that we're not gonna get what's an author manuscript and what's not. Because author manuscripts mostly don't have an open license. So by not sending closed articles to OAG we also can't see if they're author manuscripts or not. Maybe this matters, maybe it doesn't (e.g. if being an author manuscript is one of Wellcome's conditions for Openness, it doesn't matter because the li

[2015-01-13 17:50] emanuil-tolev commented on #36
Haven't done this yet. Need to search across the uploaded configs on howopenisit.org to see if anybody is using the license I'm about to remove, so held up by this (and prioritising something else on the project). Hope to have done by Friday.

[2015-01-14 09:40] richard-jones commented on #12
This is complete.  There are a couple of very deep bugs that need to be looked into as part of the overall workflow that have come out of this bit of development, but I'll open separate issues for them.

[2015-01-14 09:40] #12 closed

[2015-01-14 09:45] emanuil-tolev commented on #13
Added an extremely simple runner at https://github.com/CottageLabs/oacwellcome/blob/develop/service/runner.py . Leaving issue open to add facetview.

[2015-01-14 09:47] richard-jones opened #52 "OAG response not always directly correlated with request"
OAG aggressively caches responses to requests for identifiers.  It also canonicalises incoming identifiers and uses the canonical form to refer to the response throughout the request and in the cache.

Two identifiers which are "the same" (such as a DOI which starts "10." or a DOI which starts with "http://dx.doi.org/10." can be canonicalised to a single canonical representation ("doi:10." in OAG)

[2015-01-14 10:46] emanuil-tolev commented on #16
This isn't great, since the license was still a failure, and OACWellcome won't proceed to try to fetch the license via other means.

[2015-01-14 10:47] emanuil-tolev commented on #17
Consider adding this in a whole new section for plugins to add extra info to.

[2015-01-14 10:48] #8 closed

[2015-01-14 11:15] richard-jones opened #53 "Some invalid pmcids cause requests to get lost"
In particular, PMCnone (which can happen if the PMC is invalid), results in the record never completing OAG stage (but it does complete EPMC stage, but with incomplete logging).

Probably just a catch somewhere for an invalid response, but need to track it down.

[2015-01-14 11:21] richard-jones commented on #14
@Nimphal - could you just review again the PMCID normalisation for me, we need to make it a bit more aggressive (relates to the comment above, too).  Somewhere @emanuil-tolev has the rules for what constitutions a PMCID, and if we could throw out any that don't meet those criteria, that would be great.

[2015-01-14 11:25] emanuil-tolev commented on #14
Rules for what a PMCID is:
https://github.com/CottageLabs/oacwellcome/issues/15#issuecomment-68896793

OpenArticleGauge code for PMCID support (this is the regex used to validate them, with notes on what's valid):
https://github.com/CottageLabs/OpenArticleGauge/blob/dev/openarticlegauge/plugins/epmc.py#L15

This is how you use the regex: https://github.com/CottageLabs/OpenArticleGauge/blob/dev/ope

[2015-01-14 11:26] richard-jones commented on #9
@Nimphal - if you were feeling adventurous, it would be quite fun to make the % complete auto-update on the page.

If you made an API endpoint like

    /progress/<job id>/pc

that just returned the number (possibly wrapped in a jsonp response of some kind),

then had a job on the page that used setTimeout to run a call to that every few seconds, you could update it in the page without reloading.

[2015-01-14 11:27] emanuil-tolev commented on #9
Now that would be cool!

[2015-01-14 15:25] richard-jones commented on #10
Standard and Deluxe compliance columns are now being produced, and additional data sent in with the spreadsheet is reflected back when the sheet is exported.

Needs user testing, and is related to extra work going on at #38 and #39

[2015-01-14 15:25] richard-jones commented on #10
Oh, also, this is all on a feature branch - will hold off on a PR until those other issues are also tackled.

[2015-01-14 19:28] richard-jones commented on #38
A couple of notes:

- We are not collecting Journal Name from EPMC at this stage, but it is a column in the incoming master spreadsheet.  This means it will be reflected back when the result sheet is downloaded.  But I have added in the ISSN that we look up each time anyway.

- I have added "unknown" to the aam and licence cells, but not to any others.  Review this when we see a full version of th

[2015-01-14 19:28] richard-jones opened #54 "Documentation for output spreadsheet"
Document each of the columns in the output spreadsheet.

Probably put this up on the site somewhere?

[2015-01-15 10:03] richard-jones commented on #39
I've prefixed the error messages coming from OAG with the identifier that caused them, which gives us a little more clarity.  The messages that come back from OAG, though, are left as-is, despite them lacking some meaning for the end-user.

[2015-01-15 10:05] richard-jones commented on #38
As for the comprehensibility of the error messages that come back from OAG - there's not a lot we can do.  Within the context of OAG usage they have meaning, but certainly that's not so clear to the end user.  Nonetheless, omitting them means that if there is an error we wouldn't be able to diagnose it so easily from the spreadsheet if we provided something more user-friendly but (inevitably) less

[2015-01-15 11:32] richard-jones commented on #9
Actually, I am considering whether we should go further.  It would be great if this page updated itself automatically from "submitted" to "processing" to "complete", and also gave a hint to the user as to when their job will be processed by telling them how many are in front of them in the queue.

Probably this is outside the scope of what you've estimated for, @Nimphal , but we might have a go la

[2015-01-15 11:46] Nimphal commented on #9
I am glad we're having a brain storming session about the interface. All of
these ideas are really awesome and cool (the moment the JS pandora box
opens, there's no end), but I doubt I'd be able to implement all of them by
the deadline. I'll look into the percentage thing, since that seems fairly
straightforward.

2015-01-15 11:32 GMT+00:00 Richard Jones <notifications@github.com>:

[2015-01-15 17:50] richard-jones commented on #9
Yes, absolutely - I'm thinking out loud about a future version of the page.  If you just get the UI to the state you are happy with design and information wise I'll consider taking it forward at some point.

[2015-01-15 19:27] richard-jones commented on #18
What I've done is just use their list of licence "types" to create a map from a possible type to our preferred representation of it, and use that both when looking at the XML fulltext and when mapping results back from OAG.

Using substring searches for the CC URLs against any URL fields in combination with this means that I think that we don't need to look any further, so closing off this issue n

[2015-01-15 19:27] #18 closed

[2015-01-15 21:37] richard-jones commented on #25
I've taken the functions from OAG and added some extra bells and whistles, and there's a PR request open for it.  All seems to be working, although a lot of effort to truly test.  Have tested timeouts, though, and they are all working correctly.  Closing.

[2015-01-15 21:37] #25 closed

[2015-01-15 21:38] #39 closed

[2015-01-16 10:00] richard-jones commented on #37
Whatever changes I've made seem to have got rid of the 404s we were encountering, at least for the time being.

I have made the decision not to strip stopwords, a fter spending a bit of time with natural language processing kit and determining it all to be a bit Too Difficult in terms of satisfying dependencies.  Leaving the stop words in doesn't seem to cause any problems, so propose to leave it

[2015-01-16 10:00] #37 closed

[2015-01-16 10:01] richard-jones commented on #40
In response to the above: any item with a PMCID for which we haven't yet been able to determine the AAM status will be sent to OAG even if we have already detected a licence (closed or open), so this shouldn't be an issue.

Otherwise, this issue is now complete.

[2015-01-16 10:01] #40 closed

[2015-01-16 10:54] richard-jones commented on #52
Agreed that the initial work on this will be:

* rewrite the id from a cached record in the response from OAG with the ID requested by the user
* rewrite the id from an archived record in the response from OAG with the ID requested by the user

[2015-01-16 11:16] emanuil-tolev commented on #16
But we don't want to fetch the license via other ID-s, because it's been definitively established as a closed license (or no license - default copyright).

[2015-01-16 11:16] #16 closed

[2015-01-16 11:24] #36 closed

[2015-01-16 11:27] emanuil-tolev commented on #36
done on this side

[2015-01-16 11:59] emanuil-tolev commented on #52
I've rolled out a fix to http://howopenisit.org . Leaving open to just remember to test it.

[2015-01-16 12:43] Nimphal commented on #9
Just made a pull request, I am now happy with the buttons and the progress percentage changes dynamically. Will assign to @richard-jones once the PR is merged.

[2015-01-16 12:48] emanuil-tolev commented on #9
I've taken this out of the Full Service milestone, it's already beyond what's necessary for the full service :).

@richard-jones note that at least 1 page refresh is needed to see the latest AJAX addition working, because otherwise the spreadsheet is in "submitted" state and doesn't show a % completion. But soon as you refresh the page and the job *has* been picked up, it does increment the %. So

[2015-01-16 13:07] emanuil-tolev commented on #52
Wow, this is ridiculous.

I'm going to start serving a minified version of jquery to people who *fail* to get it from the Google CDN (and additionally I might change the CDN to another good one, to try to avoid having to serve jQuery to everybody in China ourselves).

Even if it does result in somewhat increased bandwidth, I do strongly feel we should at least give it a go and simply monitor the b

[2015-01-16 13:29] emanuil-tolev commented on #52
My fix doesn't seem to work, will investigate.

[2015-01-16 13:32] Nimphal commented on #14
See https://github.com/richard-jones/magnificent-octopus/pull/5

[2015-01-16 13:34] emanuil-tolev commented on #14
you'll need to bump the octopus version in oacwellcome now that that PR is accepted

[2015-01-16 18:32] richard-jones opened #59 "Dynamic job progress interface"
It would be great if this page updated itself automatically from "submitted" to "processing" to "complete", and also gave a hint to the user as to when their job will be processed by telling them how many are in front of them in the queue.

Probably this is outside the scope of what you've estimated for, @Nimphal , but we might have a go later at building an API endpoint for the jobs, which return

[2015-01-16 18:33] richard-jones commented on #9
Ok, I've opened a new issue for a fully dynamic progress page, which I'll look at next week if the time presents itself.

[2015-01-16 18:33] #9 closed

[2015-01-16 18:35] richard-jones commented on #14
excellent.  I've updated the octopus version in the submodule.

[2015-01-16 18:35] #14 closed

[2015-01-19 14:02] richard-jones commented on #10
See Cecy's email for a few more comments on the full output sheet.

[2015-01-19 14:09] #11 closed

[2015-01-19 14:11] emanuil-tolev commented on #20
Also add newrelic to the app when running it on live

[2015-01-19 14:13] #17 closed

[2015-01-19 14:22] richard-jones commented on #54
Decision: make this a separate, linkable page on the site, and add top nav for it

[2015-01-20 14:27] richard-jones commented on #10
Closing this off and opening new issues for specific tasks that remain

[2015-01-20 14:27] #10 closed

[2015-01-20 14:27] richard-jones commented on #38
Closing this off and opening new issues for specific tasks that remain

[2015-01-20 14:27] #38 closed

[2015-01-20 14:29] richard-jones opened #60 "Add Journal Name to output"
If the journal name field is not populated in the incoming sheet, populate it on the way out.  That means collecting some more supporting info from the EPMC metadata record.

[2015-01-20 14:29] richard-jones opened #61 "Check the provenance logging for decisions around AAM"
We are certainly loggin when AAM is detected from EPMC but are we logging when it is not found, and when it is found from OAG?

[2015-01-20 14:31] richard-jones opened #62 "Detect URLs from all licence-p elements"
Why isn't this record having its licence detected?

![epmcccby](https://cloud.githubusercontent.com/assets/856138/5818875/fc2e190c-a0b0-11e4-91e2-f35e84067545.png)

My guess is because there are 2 licence-p elements

[2015-01-20 14:32] richard-jones opened #63 "Handle CC0 correctly"
* Be able to detect CC0 from EPMC (how - what URL/type do they refer to it by?)
* factor CC0 into compliance decision (it is equal to being CC-BY)

[2015-01-20 15:26] richard-jones commented on #61
I've added a provenance line for when the AAM status is detected from the fulltext xml.  It's more difficult to add provenance for when the AAM is not detected, but hopefully this isn't a problem, as the AAM will be reported as "unknown".

[2015-01-20 15:49] richard-jones commented on #62
Looking at the code, this looks to be the case.  I haven't seen an example id yet, but I have fixed the code and written some tests that prove it works, so should now be fixed.

[2015-01-21 14:18] richard-jones opened #64 "OAGR can die if persistent failure to communicate with OAG"
2015-01-20 05:34:41 Processing job 977e491d99674dc59836a0655e685c8d
Timeout: None
Back Off Factor: 1
Max Back Off: 120
Max Tries per Identifier: None
Batch Size: 100
1 received; 0 errors; 9 pending
9 due; requesting in 1 batches
Processing batch  (retry)
(retry)
(retry)
(retry)
(retry)
(retry)
(retry)
(retry)
(retry)
(retry)
Traceback (most recent call last):
  File "magnificent-octopus/octopus/mo

[2015-01-21 14:30] richard-jones commented on #64
Actions:

1. Get OAGR to use the new incremental retry code on the http level
2. Don't die in the event of a failed HTTP request to OAG.  Instead just carry on - the job will get picked up again on the next run

[2015-01-21 16:02] richard-jones commented on #53
I haven't been able to reproduce this lately, but I need to run the APC spreadsheet through the system again to be sure.  May have been fixed by accident during other updates.

[2015-01-21 16:51] Nimphal commented on #23
A hotfix has been applied to OAG, the tests are done.

[2015-01-21 16:54] emanuil-tolev commented on #23
Yeah, this is done. Nothing substantial to roll-out as it was just tests.

[2015-01-21 16:54] #23 closed

[2015-01-21 17:20] richard-jones opened #65 "What happens when OAGR request repeats requests max times, or times out"
This is an end-of-processing event for the spreadsheet, but is it recorded anywhere.

[2015-01-21 18:30] emanuil-tolev commented on #52
OK, working now. Problem was we store the identifier in the OAG response in more than one place. Not all of these were being updated. Also was appending the identifier object to the record like this: "id" : {identifier: blah blah, canonical: blah, type: doi}, where the intention was to just get the string.

May have caused some circular reference problems *cough*, so these may be resolved now too.

[2015-01-21 18:30] #52 closed

[2015-01-22 09:59] richard-jones opened #66 "service/runner.py can die if spreadsheet is malformed"
If you upload an invalid CSV (e.g. with too many or not enough values for the columns), ClCsv will throw an error, which ultimately kills the runner.

Not sure at what level we should handle this, but initially assigning to you, @emanuil-tolev, just as it kills the runner, which will prevent any further jobs getting processed - might be worth including an except block.

I'll also have a think abou

[2015-01-22 09:59] richard-jones opened #67 "Add new "error" status to spreadsheets which fail to parse"
for example, when a csv is malformed.

[2015-01-22 10:10] richard-jones opened #68 "Duplicate identifiers in spreadsheet cause it to fail to complete"
If one or more rows share, or turn out to share, the same identifiers in any of the identifier fields, there is a risk that they will cause the run to not complete.

This is because records are traced back from their OAG response with their upload id, the identifier type and the identifier, which may result in multiple matches.  But, only the first match is dealt with, as the code makes the errone

[2015-01-22 10:12] richard-jones commented on #53
After analysing a large chunk of the APC data, it appears that the reason this has been happening is due to the "duplicate identifier" problem (as there were many records with PMCnone).  A combination of better identifier normalisation and ultimately a treatment of the duplicate identifier #68  problem will cause this issue to go away.

[2015-01-22 10:12] #53 closed

[2015-01-22 10:13] richard-jones commented on #13
Also, see #66 - I will look at a fix on the back-end ( #67 ), but we should also make the runner more resilient to errors

[2015-01-22 10:15] richard-jones commented on #64
This has now been theoretically fixed, although I am going to leave this issue open to remind us to monitor the process in-the-wild to ensure it doesn't happen again.

Certainly, since implementing the changes above, it has not recurred in my dev environment.

[2015-01-22 14:12] emanuil-tolev commented on #66
Hm, yeah. A general try/except is what I'll use in the runner, and set the status of the sheet to error, and log a magic number (and display the magic number on the page) - so that we can later sift the daemon logs for it. Any other ideas, throw them in here.

[2015-01-22 17:10] emanuil-tolev commented on #20
@Steven-Eardley is helping with this - he's made the server, looks great :). Hammered it out of the fire of a thousand burning wrongly licensed publisher article pages. He and I will set up the app on there the coming Tuesday, and then it should be all pretty much done in terms of live service. Backups will be the only addition.

[2015-01-22 19:00] richard-jones commented on #66
Actually, I have a general set of thoughts about this, because the oagr runner can also be killed by an untrapped exception.

In some cases this is bad - for example, if an email fails to send, I don't want it to kill the oagr processor.

In other cases, I'm not sure.  What if the exception is systematic, and the process dying is a warning to us that something needs to be looked at.

Perhaps this

[2015-01-23 09:03] emanuil-tolev commented on #66
Add an email logger so we get emailed all log messages. Then set the logging level to Critical. Then we'll know about exceptions?

[2015-01-23 09:07] emanuil-tolev commented on #66
As an aside, this wouldn't work with the DOAJ because there are exceptions we haven't fixed (like query.py errors out on weird queries sometimes, and with 10k hits a day that's often enough). So if we do do this we'll feel compelled to fix all the exceptions that we let bubble up. If an email comes, we either have to fix the problem or commit a try/except to downgrade the exception to a log debug

[2015-01-23 09:21] richard-jones commented on #13
Actually, I'm going to open another issue for the facetview stuff, as I think we need to do just a little more than throw a fv over the top of the job index, so will track is separately

[2015-01-23 09:24] richard-jones opened #69 "Facetview over jobs, records and oagr links + controls"
Important:

- [ ] Make a facetview that allows us to look at the jobs.  This should also allow us to go through to a full job page which in turn links out to the oagr jobs derived from this upload (via the oagr_link type)

@emanuil-tolev - assigned to you for the moment, just for the above bit.

Not so urgent:

- [ ] Make a facetview that allows us to look at the records.  Probably worth having a

[2015-01-23 09:26] richard-jones commented on #68
Duplicate identifiers in different rows of a spreadsheet are now treated as "the same object" from the point of view of the OAG processor.  When one is updated, they are all updated.

The provenance now contains warnings about duplicate identifiers too, so that results can be interpreted appropriately

[2015-01-23 09:26] #68 closed

[2015-01-23 09:28] richard-jones opened #70 "Intermittent problem with epmc_complete"
Occasionally a spreadsheet doesn't complete, because the epmc_complete flag has not been set.

My suspicion is that this is an ES-refresh race-condition, and we are saving a record and then re-loading it again too quickly.

Fix is to check the code and make sure that we never do this unnecessarily, first.

Second is just to ensure there's sufficient wait times in between saves and reads.  But this

[2015-01-23 09:52] emanuil-tolev commented on #13
OK - I'm in the middle of adding that, so feel free to open another one. Do we need to keep this one open then?

[2015-01-23 11:19] richard-jones opened #71 "Query CrossRef for additional metadata?"

[2015-01-23 11:19] richard-jones opened #72 "Tweaks to UI"
@CecyMarden - if you want to list any changes to the UI required, just put them here and we'll pick them up.

[2015-01-23 12:24] richard-jones opened #73 "Character encoding in csvs"
Excel seems to produce characters (especially £) which can't be read in.  Is there something we can do about this in ClCsv?

[2015-01-23 13:20] emanuil-tolev commented on #73
oh god

[2015-01-23 13:23] richard-jones commented on #73
Traceback (most recent call last):
  File "service/runner.py", line 20, in <module>
    run()
  File "service/runner.py", line 15, in run
    process_jobs()
  File "/opt/oacwellcome/src/oacwellcome/service/workflow.py", line 211, in process_jobs
    jobs = models.SpreadsheetJob.list_by_status("submitted")
  File "/opt/oacwellcome/src/oacwellcome/service/workflow.py", line 229, in process_job

  Fi

[2015-01-23 13:48] CecyMarden commented on #72
Thanks Richard, and Nevelina.

1. Could you change the bit where it says wellcome so that instead it has our logo. You can find it here: http://www.wellcome.ac.uk/About-us/Logo-usage/WTP051580.htm

2. Could you make sure there is a tab (or something) on this page which will take users to a page which has a short blurb about what this is, plus the documentation we've discussed.

3. It would probabl

[2015-01-26 13:43] richard-jones commented on #73
Oh man there's some bad stuff going on under the hood here.

I have started an effective fix for the character encoding issue, though this still has a way to go, but there are other nasty things that Excel does when it exports csvs.  In particular, I'm finding control characters kicking around in the data, which are doing bad things to the python csv reader.

Looks like a full solution will requir

[2015-01-26 13:49] markmacgillivray commented on #73
Just in case it helps, here are some links to LEAPS stuff, there may be
useful things in there. In the end I believe it came down to building a
dictionary of rubbish and matching it out.

https://github.com/CottageLabs/leaps/blob/master/portality/view/leaps/imports.py

https://github.com/CottageLabs/leaps/blob/master/portality/view/leaps/exports.py

https://github.com/CottageLabs/leaps/blob/master

[2015-01-26 15:31] emanuil-tolev commented on #66
So I've done this (in the develop branch already).

This is what we do now: https://github.com/CottageLabs/oacwellcome/blob/develop/service/runner.py#L14

The email logging of errors will only work in production mode. To test it, put DEBUG=False in your local.cfg .

[2015-01-26 15:52] emanuil-tolev commented on #67
I'm adding more exception handling into service.workflow.process_job. So:

1. we'll get more info about what broke when something breaks - we'll get a traceback in an email, but also we'll get the job ID (and record ID if it happened during processing of a record)

2. where the error stops the whole job from completing, I'll set the status to "error", record some details in a new field "error_deta

[2015-01-26 16:18] #13 closed

[2015-01-26 16:21] richard-jones commented on #63
See examples of articles which have CC0, and determine what the most appropriate form of detection for this is.

[2015-01-26 16:37] richard-jones commented on #64
See #66 for how to implement email-based error handler

[2015-01-26 16:40] emanuil-tolev commented on #67
don't do that, the email will be enough. And don't put the stack trace on the UI anyway

[2015-01-26 16:53] #70 closed

[2015-01-26 16:58] emanuil-tolev commented on #20
http://compliance.cottagelabs.com is the live server's place

[2015-01-26 17:06] markmacgillivray commented on #20
Has there been any quoting for this on a production server? Is there
potential to use the cluster index for this one? Discussion required
perhaps.
 On 26 Jan 2015 16:58, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-01-26 17:10] emanuil-tolev commented on #20
Yep, was quoted and I am just about to invoice for hosting. Can use a cluster, yeah. It's currently not an app used by many users, sort of more Wellcome-internal. There are plans to potentially make it into something scholars use, then it will definitely need to use a cluster.

[2015-01-26 17:37] markmacgillivray commented on #20
Didn't the quoting process involve considering server size?
On 26 Jan 2015 17:10, "Emanuil Tolev" <notifications@github.com> wrote:

[2015-01-26 17:46] emanuil-tolev commented on #20
Yep, for now it's just the one small machine. It's not a big app, with very few users. It's on the Growing tier at http://cottagelabs.com/operations/service . There should be enough to cover a small cluster of 2 machines of the size specified above (2GB RAM) and an app server of 1GB, even if we do go with upgrading it. It doesn't really warrant the Established tier yet, regardless of the exact set

[2015-01-26 21:53] richard-jones commented on #73
Great, thanks for those links.  I've also done pretty much the same thing, but learned a new thing.  In your code you use "windows-1252", but I found that "cp1252" gives better results for parsing windows-generated files.  I've also got iso-8859-2 in my stack of things to check.

[2015-01-26 22:13] emanuil-tolev commented on #73
@richard-jones you should generally handle both. Tbh we should use a lib for this, some of my childhood was spent dealing with cp1251, the Cyrillic codepage, and there is a *long* list of codepages to try, as well as priority if you know the source is Western, Eastern European, East Asian..

[2015-01-26 22:36] richard-jones commented on #73
Yup - actually I've made it so you can specify a list of potential encodings, or it will default to a common set.  If you happen to have a list of the common ones, then I can use that.

I wasn't able to find a lib that would just out the encodings for you, except chardet, which takes far too long to get results.

[2015-01-27 10:07] richard-jones commented on #73
Ok, this is fixed - the csv parser now has a list of encodings to fall back to if the specified encoding (utf-8 by default) doesn't work.  It will keep trying until it finds one that works, or it runs out of options.

I have included cp1252, cp1251, windows-1252, windows-1251, utf-8, latin-1 and latin-2 in the list of encodings to try.  This covers everything in @markmacgillivray 's dewindows meth

[2015-01-27 15:10] richard-jones opened #75 "Add OU CORE lookup support"
Query to see if identifiers are available in CORE, and therefore whether the content is archived in a repository

[2015-01-27 15:11] richard-jones opened #76 "Lookup embargoes in Sherpa"
See what information about embargoes we can get from Sherpa, and report on that.

[2015-01-27 15:12] richard-jones opened #77 "Create a JSON API which allows jobs to be created and monitored"

[2015-01-27 15:48] markmacgillivray commented on #75
I have a core replica that is reliably queryable...
On 27 Jan 2015 15:10, "Richard Jones" <notifications@github.com> wrote:

[2015-01-27 17:32] richard-jones commented on #63
To detect CC0:

“CC0”
A URL like this: https://creativecommons.org/publicdomain/zero/1.0/
And possibly “public domain”?

[2015-01-27 17:35] emanuil-tolev commented on #63
I'd make the URL the least common denominator. We don't support confidence scoring or anything like that, so unless you're willing to say "if it doesn't say ```public domain``` then it's not CC0" I'd just go with the URL.

[2015-01-27 17:53] richard-jones opened #78 "Some AAMs not being detected"
In a review of the AAMs detected by the app, some records are not getting an AAM detected when they should.

I have created an idealised CSV which contains PMCIDs for which there have been problems, and put it in the test resources directory:

https://github.com/CottageLabs/oacwellcome/blob/develop/service/tests/resources/aam.csv

If you run this through the system, we find that most of them come

[2015-01-27 17:58] richard-jones commented on #78
Oh also, remember that OAG will cache the responses, so we might need to clear the cache/archive of these identifiers to get them to start working.

[2015-01-27 18:09] richard-jones opened #79 "Any text to check for in the Fulltext XML licence paragraphs, which map to known licences"
@CecyMarden - if you want to list any text strings that should unambiguously map to a licence, when detected in the fulltext XML licence-p section, we can include them in the matching rules.

For example, "CC-BY", "cc-by", "cc by", "Creative Commons Attribution"

Bear in mind that they need to be unambiguous, and they should also be in the order that you want them checked in (e.g. CC-BY-NC needs t

[2015-01-27 18:17] richard-jones commented on #63
A couple of example PMCIDs that are CC0 for use in testing

PMC3970965
PMC3953412
PMC3945438

Note that URLs are not present in their XML licence declarations, so we will not be able to rely on that as the key indicator.

[2015-01-27 18:30] richard-jones commented on #64
I've just checked this in.

@emanuil-tolev - I'm not sure really how best to test this, do you want to just check that it works on the live box with debug=False, then I'll close this off?

[2015-01-27 18:38] emanuil-tolev commented on #64
Just set DEBUG=False in local.cfg and put ```raise Exception("intentional")``` in the OAGR runner init.

[2015-01-27 18:39] emanuil-tolev commented on #64
oh yeah, and you'll need the real email details, heh... sent over email to you!

[2015-01-28 09:33] Nimphal commented on #72
I made a hotfix with the logo and the changed upload page title. Assigning back to @richard-jones

[2015-01-28 11:38] emanuil-tolev opened #80 "Monitor times jobs have been on the queue, and times jobs have been processing"
Add a timestamp for when processing started

Add an interface which tracks:
* which jobs are pending, and how long they have been pending
* which jobs are processing, and how long they have been processing

[2015-01-28 16:54] emanuil-tolev commented on #78
Er, this ID gives errors @richard-jones . Did you try opening the page?

I click on http://europepmc.org/articles/PMC4105573
and end up at http://europepmc.org/exception?2&1&0=UkpmcException .

None of the ID-s in that CSV (thanks for it) are opening, they all go to that error page. That could explain the problem....

[2015-01-28 16:59] CecyMarden commented on #78
I have just been finding this exact issue when looking at the more recent spreadsheet I processed. I have emailed EBI about this. When I sent the file through to Richard I did check (i.e., actually open the page) that the articles found via the search were author manuscripts. HOWEVER, I did this on PMC (where the new articles I'm finding in the same situation also open fine), because you can only

[2015-01-28 17:03] emanuil-tolev opened #81 "[OAG] Add ability to invalidate cache for specific identifiers via the API"

[2015-01-28 17:06] emanuil-tolev commented on #81
@richard-jones howopenisit.org caching its results might get a bit out of hand in the coming days as we repeatedly run sheets through the system, so adding this issue, will implement ASAP (so next week). Will probably just be a ```"disable_cache": true``` in the request to OAG so should be very easy to add to OAGR.

[2015-01-28 17:27] richard-jones commented on #78
Yeah, they were fine when I checked a couple of them the other day, so this
must be a temporary fault at the EPMC end.

[2015-01-28 17:29] emanuil-tolev commented on #78
Yeah, what I'm getting at is them erroring when OAG was looking at them, and then being OK when you looked at them. Anyway, we'll see when they're back up!

[2015-01-29 18:03] richard-jones commented on #65
I've added a new event which OAGR fires to the callback when a job has finished processing.  This allows the callback to extract all identifiers which have been maxed out, and decide what to do about them.

The implementation updates the provenance to tell you what happened and tries the next identifier if necessary.

Current configuration for retry code is as follows:

[code]

[2015-01-29 18:03] #65 closed

[2015-01-29 19:35] richard-jones commented on #59
I was on a roll today, and implemented this.  The UI now no longer requires a page reload - it will shift dynamically between the states based on the new endpoint.

[2015-01-29 19:35] #59 closed

[2015-01-30 10:45] richard-jones commented on #73
Subsequent tests indicate that this problem as gone away with the encodings that we're currently using.  It may recur if csvs are uploaded with other encodings that we don't understand, but we now have a simple way of adding new ones, so shouldn't be a long-term issue.

[2015-01-30 10:45] #73 closed

[2015-01-30 11:12] richard-jones opened #82 "Options for upload/output spreadsheet formats"
The current version of the system is tailored specifically to the Wellcome Master spreadsheet format, which means that it won't understand columns that are no defined there, and it will not reflect them back at the user.

Consider the following options:

1. Support arbitrary columns and enhance/overlay with compliance data.  This opens us up to storing arbitrary content, which would be bad, and th

[2015-01-30 11:13] richard-jones commented on #82
Probably we should implement a file size limit alongside this

[2015-01-30 11:14] richard-jones commented on #82
Overall, I like (2) with the option to have (3) as the default format.

[2015-01-30 14:25] CecyMarden commented on #78
I have just run the set of dodgy AAMs from the top of this thread, and all but two are still coming back as unknowns. I looked on Europe PMC at two of them, and I'm no longer getting the error message, so I'm not sure it can be a problem at Europe PMC. What do you see?

I do have some further information from EBI:

"To date we now know that our External Services Group modified some load balancer I

[2015-02-03 11:36] #60 closed

[2015-02-03 11:36] #62 closed

[2015-02-03 12:07] #64 closed

[2015-02-03 12:33] #66 closed

[2015-02-03 12:38] richard-jones commented on #67
Error status should come with a human-readable message as to what happened, rather than printing the traceback.

[2015-02-03 12:46] richard-jones commented on #81
Decided against doing this.

[2015-02-03 12:46] #81 closed

[2015-02-03 12:50] emanuil-tolev commented on #20
Write a fabric script that deploys and restarts everything nicely on production server.

[2015-02-03 13:22] emanuil-tolev commented on #67
Pushed to develop

[2015-02-03 13:43] emanuil-tolev commented on #78
OK, I tried again with the 21 PMID-s that weren't working for AAM and it seems to all work now (I've made no code changes but I did delete all unknown EPMC results from howopenisit.org ). Here is my sheet on the test server: http://oacwellcome.ooz.cottagelabs.com/progress/66fb4a5bf9bf4379beb9ab14965b3d5a

AAM is all "true" now. It's mostly detected default copyright rules (so not-OA article) but t

[2015-02-03 13:43] #78 closed

[2015-02-04 14:27] richard-jones commented on #79
I now have a list of these (by email), which we need to add to the text matching code.  This is required in order to give us the CC0 support we need in #63

[2015-02-04 14:28] richard-jones opened #83 "A few extra headers to maintain from the master spreadsheet"
Publication Date
Title of paper (shortened)
Author(s)
Grant References

[2015-02-04 14:39] richard-jones opened #84 "Ignore blank lines in input spreadsheet"
Update the csv parser so that it doesn't read in blank lines.

We have seen at least one csv with several hundred blank lines on the end, which may have been output by excel.

This should be a parameter of clcsv, so that blank lines may be read or not, according to preference.

[2015-02-05 11:57] richard-jones commented on #79
This is now implemented, will just leave it open for a while, to check that everything is behaving as expected.

[2015-02-05 12:11] richard-jones commented on #63
I've written and committed the code for this, but I'm on a train, so the testing is not so reliable.  Will revisit in a stable location.

[2015-02-05 12:31] richard-jones commented on #83
Added

[2015-02-05 13:03] richard-jones commented on #84
Have added an ignore_blank_lines (default to False) parameter on clcsv, and the MasterSheet enforces this.  Tests indicate everything working, but full test still required.

[2015-02-05 13:59] richard-jones commented on #54
Now written and available under a "Documentation" link on the page navigation

[2015-02-05 14:09] richard-jones commented on #72
I've now added the documentation, and an explicit link to it from the upload page.

I've not added a contact field, because at this stage I'm not sure what the best way to manage this is - I'm not sure I want any one individual's email address on the page, and since there's only one user at the moment, I'm happy enough for us to be contacted directly.

[2015-02-10 11:34] emanuil-tolev commented on #43
- [ ] run daemons under supervisor
- [ ] use python to call the shell.
    - 'RUNNING' in subprocess.check_output(["sudo", "supervisorctl", "status", "oacwellcome-daemon"]) and the same for "oagr-daemon".
    - handle exceptions by not crashing, but displaying them as output of the health endpoint

[2015-02-10 12:46] emanuil-tolev commented on #43
What I ended up doing: the HTTP response code will always be 200 because the health endpoint itself is not having a problem (404 does not really make sense and I have not had time to find the appropriate HTTP code here).

However, the text will change to indicate if both, or either one of the daemons is down. About the health of the web app: if you can access the /health route then it is fine, the

[2015-02-10 12:46] #43 closed

[2015-02-10 12:51] emanuil-tolev commented on #20
Done. All production server configs are tested and now sit in the sysadmin repo, we're ready for long-term maintenance.

[2015-02-10 12:51] #20 closed

[2015-02-11 09:40] emanuil-tolev opened #85 "Completion email sends wrong link"
This is probably defined in the config. The default URL should be the live server's (we can live with potentially wrong links on test and dev, and we can override that setting to be correct in each environment using local.cfg anyway).

[2015-02-11 09:42] emanuil-tolev opened #86 "Spreadsheet at 100% but no completion email"
Strange - http://compliance.cottagelabs.com/progress/eeb93712891444ac953e87539c3fa9c3

[2015-02-11 10:06] richard-jones opened #87 "Request for non-existent job should result in 404"
at the moment it 500s

[2015-02-11 10:09] richard-jones commented on #86
could be a race condition on the index refresh.  It waits for a while before checking for 100% completeness, but if the index is experiencing any slow-down the completeness check may run before the index is fully up-to-date.

The real fix for this is better transactionality with the index, but in the absence of a general solution to this perhaps a cleanup script that runs every hour looking for 10

[2015-02-11 10:11] emanuil-tolev commented on #86
But wouldn't it be picked up and set to completed on the next daemon run then? The daemons are running (just checked).

[2015-02-11 10:17] richard-jones commented on #86
Not currently, but we could add that to the demon.  Right now the complete status is applied at the end of a run, when the completeness measures 100%.

[2015-02-11 10:17] richard-jones commented on #86
So, when the demon runs, it first looks for all "processing" records, checks their completeness, and marks them if they are at 100%, then gets on with its job of "submitted" records.

[2015-02-11 10:19] richard-jones opened #88 "UI should scale better with screen width"
At the moment, some of the boxes overflow their parent when scaling down.  Probably there's a fixed width somewhere in the css.

[2015-02-11 10:21] richard-jones opened #89 "Some EPMC licences appear in other xml fields"
http://europepmc.org/articles/PMC3366994

Licence text appears in "copyright-statement" rather than "licence-p"

Action to take not yet clear.  We could just add another element to the lookup job, but then where else might we find the licence statement.  Should we just check the whole fulltext xml? Or the article-meta, or something?  Take a look and make a sensible decision.

[2015-02-11 10:21] emanuil-tolev commented on #86
Oh yeah, it only did "submitted". But (right now) if I terminate it, it would resume doing processing sheets with < 100% completeness, wouldn't it? So I imagined it would go "ok that's the end of the run now, completed".

Anyway, I know we talked about this and it seems entirely reasonable to do it like this :).

[2015-02-11 10:24] emanuil-tolev commented on #88
Hm, I tried this and if you resize the browser FURTHER it will scale the boxes down and it looks good again. So there's a certain size where it doesn't look good. The boxes don't scale down perfectly, but in "steps". This is something that bootstrap 3 does so I'm not sure how easy it would be to change... I guess we can always change our markup somehow so we're using BS3 in a way that the box neve

[2015-02-11 11:43] #54 closed

[2015-02-11 11:43] #63 closed

[2015-02-11 11:43] #72 closed

[2015-02-11 11:43] #79 closed

[2015-02-11 11:43] #83 closed

[2015-02-11 11:43] #84 closed

[2015-02-11 11:44] #61 closed

[2015-02-11 11:45] richard-jones commented on #75
At the moment CORE is not queryable by DOI, so we can't do this directly, though we are ready to do when possible.  In the mean time, we may want to consider looking at @markmacgillivray 's mirror...

[2015-02-11 15:36] richard-jones commented on #76
I've now added to the romeo client library to look for and extract embargoes.  Not yet built into the compliance app - likely to be moved into a fork for the monitor project/ongoing development.

[2015-02-11 16:56] emanuil-tolev commented on #67
Didn't work recently, investigate by feeding the test server a malformed csv.

[2015-02-16 16:42] richard-jones commented on #89
Agreed that we'll just add copyright-statement to the list of places we look for the licence text

[2015-02-16 16:53] richard-jones commented on #89
This has now been added to develop, but is not yet rolled out

[2015-02-16 17:06] richard-jones commented on #88
This is an issue with how bootstrap transitions between it's various @media sizes.  At the moment we only specify col-md span settings, but for it to scale properly it needs to provide them for all screen sizes.  A bit of a pain - means coding in loads of css classes to handle the different sizes, but should sort the layout.  Will play around with it and see if I can get a good result.

[2015-02-26 17:42] emanuil-tolev commented on #86
This issue was moved to CottageLabs/lantern#1

[2015-02-26 17:43] emanuil-tolev commented on #87
This issue was moved to CottageLabs/lantern#2

[2015-02-26 17:44] emanuil-tolev commented on #82
This issue was moved to CottageLabs/lantern#3

[2015-02-26 17:44] #82 closed

[2015-02-26 17:44] emanuil-tolev commented on #80
This issue was moved to CottageLabs/lantern#4

[2015-02-26 17:44] #80 closed

[2015-02-26 17:44] emanuil-tolev commented on #77
This issue was moved to CottageLabs/lantern#5

[2015-02-26 17:44] #77 closed

[2015-02-26 17:44] emanuil-tolev commented on #76
This issue was moved to CottageLabs/lantern#6

[2015-02-26 17:44] #76 closed

[2015-02-26 17:44] emanuil-tolev commented on #75
This issue was moved to CottageLabs/lantern#7

[2015-02-26 17:44] #75 closed

[2015-02-26 17:45] emanuil-tolev commented on #27
This issue was moved to CottageLabs/lantern#8

[2015-02-26 17:47] emanuil-tolev commented on #45
This issue was moved to CottageLabs/lantern#9

[2015-02-26 17:47] #45 closed

[2016-03-09 10:24] emanuil-tolev opened #90 "Publisher name lookup in CrossRef if an article has a DOI"

[2016-03-09 10:26] emanuil-tolev opened #91 "Publication date algorithm for EPMC data"
Attempt to get both electronic and print publication dates and output separately. Only sensible way seems to be to have another column, but be careful with naming the columns then - what if the attempt to get separate dates fails? Don't want to mislead user into thinking there is an electronic date when it's actually the print date but we failed to understand this / it wasn't possible from the dat

[2016-03-09 10:27] emanuil-tolev opened #92 "Author list from EPMC"
Full list in order, one entire list per cell

[2016-03-09 10:27] emanuil-tolev opened #93 "Article title from EPMC where not uploaded"
Try to get the title if not in the sheet already

[2016-03-09 10:28] emanuil-tolev opened #94 "Funder/grant number from EPMC and CSV output restructuring"
"CSV output restructuring" means expanding the number of columns dynamically to fit Funder and Grant number.

[2016-03-09 10:39] emanuil-tolev opened #95 "Simple Grist API client"
With unit tests.

[2016-03-09 10:40] emanuil-tolev opened #96 "PI lookup on Grist and output in final sheet"
Relies on #95 .

[2016-03-09 10:40] emanuil-tolev opened #97 "Integrate with Pubmed for "Ahead of print?" information"
Create a Python integration with the
http://www.ncbi.nlm.nih.gov/pubmed/ service,
extracting
<PublicationStatus>aheadofprint</PublicationStatus>
from it. This will then be reflected in a new column
called "Ahead of print?".

[2016-03-09 10:41] emanuil-tolev opened #98 "Better EPMC XML license detection"
Search across the whole EPMC XML for the hardcoded list of statements that we already look for in the <license> and <copyright-statement> tags.

[2016-03-09 11:13] emanuil-tolev opened #99 "Lantern - Wellcome UI"

[2016-03-09 11:46] emanuil-tolev commented on #91
@CecyMarden will check a few XML examples to see the (potentially 3) types of publication date. We'll have 3 columns if so.

[2016-03-10 16:23] CecyMarden commented on #91
I have looked into this. There are two dates we are interested in, and these are in the following two XML elements on Europe PMC:

<dateofPublication>
<electronicPublicationDate>

The column containing the first date should be titled Publication Date, and the column containing the second date should be titled Electronic Publication Date. We don't need a third column.

I can't guarantee that either

[2016-03-10 16:24] emanuil-tolev commented on #91
Were you meaning to attach a picture @CecyMarden ? If the github copy/paste thing isn't working for you, try using http://snag.gy/ instead, and just paste a link to the picture here.

[2016-03-10 16:30] CecyMarden commented on #91
Huh, I didn't even think those elements were pictures. I'll try writing the tags here:

<dateofPublication>
<electronicPublicationDate>

In case it's something to with the tag arrows, it is

dateofPublication
electronicPublicationDate

[2016-03-10 16:31] CecyMarden commented on #91
It IS the tags! Does that make sense now?

[2016-03-10 16:46] emanuil-tolev commented on #91
Oh you put XML in here, right. Surround xml with three backticks:

\`\`\`
[code]
\`\`\`

[2016-03-11 12:19] emanuil-tolev opened #100 "Test that all oacwellcome and new lantern outputs are the same"

[2016-03-29 11:03] markmacgillivray commented on #94
@emanuil-tolev where would I find the funder/grant number info you want, and what are the customer requirements for the output structure?

[2016-04-10 17:10] markmacgillivray opened #101 "Enable email on new demo"

[2016-04-18 16:27] emanuil-tolev commented on #96
Clarifying the exact form of output - suggested form below (but waiting on confirmation). We add an additional column for every grant number found.

[example_sheet_with_pi.csv.zip](https://github.com/CottageLabs/oacwellcome/files/224212/example_sheet_with_pi.csv.zip)

Proposed algorithm to get a sensible PI name out of the Grist API:

1. start with blank namestr
2. if Title is set, add to namestr

[2016-04-21 11:30] emanuil-tolev commented on #97
The purpose of this column is to highlight that the articles might be compliant despite not being in EPMC.

Additional info from email thread:

* * *

How do we indicate on the spreadsheet output that an article is “ahead of print”. I don’t think we want to list articles which don’t meet the criteria of having the full text in Europe PMC as compliant, but as you say, they’re not exactly non-compli

[2016-04-21 13:33] emanuil-tolev commented on #97
For these articles, the Ahead of print? column should state "not applicable".

[2016-04-28 14:48] emanuil-tolev commented on #97
Caught a fine point here .. here's a new revised more detailed spec

IF (full text is NOT in Europe PMC) AND (the article IS NOT published ahead of print) THEN = FALSE
IF (full text is NOT in Europe PMC) AND (the article IS published ahead of print) THEN = TRUE
IF (full text is in Europe PMC) THEN = not applicable
IF (full text is NOT in Europe PMC) AND (the article has no PMID, thus the Pubmed lo

[2022-03-01 01:14] #101 closed